In [52]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count

# Initialize Spark session with Hive support
spark = SparkSession.builder \
    .appName("Example") \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local) created by __init__ at /var/folders/tm/b2k_ryfx04v0h21g5q2gklqc0000gn/T/ipykernel_15714/168358632.py:3

In [4]:
spark.sql("SELECT 1+1").show(1)

+-------+
|(1 + 1)|
+-------+
|      2|
+-------+

In [17]:
data = spark.read.json("data/flight-data/json/2010-summary.json").createOrReplaceTempView("sqlData")

In [33]:
spark.sql("""
SELECT DEST_COUNTRY_NAME, sum(count) 
FROM sqlData 
GROUP BY DEST_COUNTRY_NAME 
HAVING sum(count) > 30""")\
.where("DEST_COUNTRY_NAME LIKE 'S%'").show(5, False)

+---------------------+----------+
|DEST_COUNTRY_NAME    |sum(count)|
+---------------------+----------+
|Sweden               |65        |
|Spain                |422       |
|Saint Kitts and Nevis|113       |
|South Korea          |683       |
|Sint Maarten         |61        |
+---------------------+----------+
only showing top 5 rows

In [38]:
spark.sql("""
SELECT DEST_COUNTRY_NAME, sum(count) 
FROM sqlData 
GROUP BY DEST_COUNTRY_NAME 
HAVING len(DEST_COUNTRY_NAME) < 5""").show(5, False)

+-----------------+----------+
|DEST_COUNTRY_NAME|sum(count)|
+-----------------+----------+
|Fiji             |53        |
|Peru             |212       |
|Cuba             |243       |
+-----------------+----------+

In [41]:
# Create new table from the existing one

spark.sql("""

CREATE TABLE flights (
DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count LONG)
USING JSON OPTIONS (path '/Users/arbnormorina/Desktop/Spark/Apache-Spark-with-DataBricks/data/flight-data/json/2010-summary.json')

""")

DataFrame[]

In [45]:
spark.sql("SELECT * FROM flights").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [57]:
spark.sql("""

CREATE EXTERNAL TABLE flightsExternal(
DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count LONG)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/Users/arbnormorina/Desktop/Spark/Apache-Spark-with-DataBricks/data/flight-data/json/2010-summary.json'
""")

AnalysisException: [NOT_SUPPORTED_COMMAND_WITHOUT_HIVE_SUPPORT] CREATE Hive TABLE (AS SELECT) is not supported, if you want to enable it, please set "spark.sql.catalogImplementation" to "hive".;
'CreateTable `spark_catalog`.`default`.`flightsexternal`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, ErrorIfExists