In [2]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/28 16:24:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/05/28 16:24:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
df = spark.read.format("json").load("data/flight-data/json/2015-summary.json")

In [5]:
df.show(4)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
+-----------------+-------------------+-----+
only showing top 4 rows

In [6]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [14]:
from pyspark.sql.types import StringType, StructField, StructType, LongType, IntegerType

In [15]:
myManualSchema = StructType([
    StructField("DEST_COUNTRY_NAME", StringType(), True),
    StructField("ORIGIN_COUNTRY_NAME", StringType(), True),
    StructField("count", IntegerType(), False, metadata={"name": "Noli"})
])

In [16]:
df = spark.read.format("json").schema(myManualSchema).load("data/flight-data/json/2015-summary.json")

In [17]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [29]:
from pyspark.sql.functions import col, column, expr

In [20]:
df.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

In [25]:
df.createOrReplaceTempView("dfTable")

In [27]:
df.select("DEST_COUNTRY_NAME").show(2)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
+-----------------+
only showing top 2 rows

In [31]:
df.select(expr("DEST_COUNTRY_NAME as destination")).show(2)

+-------------+
|  destination|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

In [32]:
df.selectExpr("DEST_COUNTRY_NAME as country", "ORIGIN_COUNTRY_NAME as originCountry").show(2)

+-------------+-------------+
|      country|originCountry|
+-------------+-------------+
|United States|      Romania|
|United States|      Croatia|
+-------------+-------------+
only showing top 2 rows

In [42]:
df.selectExpr(
    "*",
    "(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) as sameCountry").sort("DEST_COUNTRY_NAME").show(20)

+--------------------+-------------------+-----+-----------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|sameCountry|
+--------------------+-------------------+-----+-----------+
|             Algeria|      United States|    4|      false|
|              Angola|      United States|   15|      false|
|            Anguilla|      United States|   41|      false|
| Antigua and Barbuda|      United States|  126|      false|
|           Argentina|      United States|  180|      false|
|               Aruba|      United States|  346|      false|
|           Australia|      United States|  329|      false|
|             Austria|      United States|   62|      false|
|          Azerbaijan|      United States|   21|      false|
|             Bahrain|      United States|   19|      false|
|            Barbados|      United States|  154|      false|
|             Belgium|      United States|  259|      false|
|              Belize|      United States|  188|      false|
|             Bermuda|      United States|  183|      false|
|             Bolivia|      United States|   30|      false|
|Bonaire, Sint Eus...|      United States|   58|      false|
|              Brazil|      United States|  853|      false|
|British Virgin Is...|      United States|  107|      false|
|            Bulgaria|      United States|    3|      false|
|        Burkina Faso|      United States|    1|      false|
+--------------------+-------------------+-----+-----------+
only showing top 20 rows